<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.EatGreen"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- About Activity -->
        <activity
            android:name=".activity_display_about"
            android:theme="@style/Theme.EatGreen"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Contact Activity -->
        <activity
            android:name=".activity_display_contact"
            android:theme="@style/Theme.EatGreen"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Counter Activity -->
        <activity
            android:name=".activity_display_counter"
            android:theme="@style/Theme.EatGreen"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Menu Activity -->
        <activity
            android:name=".activity_display_menu"
            android:theme="@style/Theme.EatGreen"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Dish Item Activity -->
        <activity
            android:name=".activity_display_item"
            android:theme="@style/Theme.EatGreen"
            android:parentActivityName=".activity_display_menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_display_menu" />
        </activity>

    </application>

</manifest>
